* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #042925;
    color: #e6edef;
    gap: 12px;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:20vh;
    color: #e6edef;
    font-size: 30px;
    margin: 20px 0px;
}

#header p {
    font-size: 25px;
    text-align: center;
    width: 40vw;
    color: #8eaaa9
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    font-weight: 600;
    font-size: 100px;
    width: 85px;
    height: 85px;
    background-color: #e6edef;
    color: #042925;
    border-radius: 50px;
    cursor: pointer;
}

.bubble:hover,
.submit:hover {
    transition: transform ease 0.3s;
    transform: translateY(-5px);
}

#formWindow {
    display: none;
    width: 350px;
    height: 500px;
    position: fixed;
    background-color: white;
    opacity: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 15px;
    box-shadow: #009688 0px 0px 80px 1px;

}

#formBackdrop {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 24px;
    padding: 16px;
}

.formContainer img {
    height:25px;
    align-self: flex-end;
    transition: filter ease 0.3s;
}

.formContainer img:hover {
    filter: brightness(80%);
}

label,
form {
    display: block;
}

.formContainer form {
    text-align: center;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 18px;
}

.formContainer input {
    width: 300px;
    height: 50px;
    font-size: 15px;
    background-color: #e2fde8;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #236874;
    margin: 5px 0px 16px 0px;
}

input::placeholder {
    color: #236874
}

button.submit{
    width: 35px;
    height: 35px;
    background-color: #042925;
    color: #e6edef;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

#library {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 15px 90px 60px;
    gap: 80px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    width: 250px;
    height: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 5px;
}

.shadowOne {
    background-color: rosybrown;
    box-shadow: -15px -10px 0px 0px snow,
    -25px -15px 0px 0px lightgrey,
     0px -20px 0px 0px #9f716e,
   -35px -20px 0px 0px rosybrown;
}

.shadowTwo{
    background-color: #d34747;
    box-shadow: -15px -10px 0px 0px snow,
    -25px -15px 0px 0px lightgrey,
     0px -20px 0px 0px #a12c24,
   -35px -20px 0px 0px #d34747;
}

.shadowThree{
    background-color: #2b2c56;
    box-shadow: -15px -10px 0px 0px snow,
    -25px -15px 0px 0px lightgrey,
     0px -20px 0px 0px #100f2e,
   -35px -20px 0px 0px #2b2c56;
}

.book img {
    height:100px;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book p {
font-size: 25px;
}

.book p.title {
    font-size: 30px;
    text-align: center;
}

p.progress {
    display:inline;
    margin: 10px;
}

#settings {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorReport {
    padding: 8px;
    border-radius: 10px;
    background-color: #fe4c61;
    color: #ffc0c5;
    height: auto;
    width: 45vw;
    margin: 16px;
}