* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    background-color: #c38f52;
    color: #e6edef;
}

#header button {
    padding: 10px 20px;
    background-color: #fdfffa;
    color: #c38f52;
    transition: 0.3s;
    border: none;
    border-radius: 3px;
}

#header button:hover {
    background-color: #c38f52;
    color: #fdfffa;
    border: 1px solid white;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 25px 0px;
    gap: 5vh;

    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    color: #fdfffa;
}

#header p {
    text-align: center;
    width: 40vw;

    color: #fdfffa;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

#settings {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

#user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-info img {
    width: 50px;
    border-radius: 25px;
}


.bubble {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 85px;
    height: 85px;
    margin: 30px 0;

    font-weight: 600;
    font-size: 100px;

    background-color: #783320;
    color: #fffeff;

    border-radius: 50px;
    cursor: pointer;
}

.bubble:hover,
.submit:hover {
    transition: transform ease 0.3s;
    transform: translateY(-5px);
}

#formWindow {
    width: 350px;
    height: 500px;
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    background-color: white;
    box-shadow: #383535 2px 2px 12px 3px;

    opacity: 100%;
    border-radius: 15px;

}

#formBackdrop {
    position: fixed;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}

#formBackdrop.hidden {
    display: none;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    color: black;

    padding: 16px;
}

.formContainer img {
    height:25px;
    align-self: flex-end;
    transition: filter ease 0.3s;
}

.formContainer img:hover {
    filter: brightness(80%);
}

label,
form {
    display: block;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;

    height: 350px;
    width: 350px;

    color: black;
    font-size: 18px;
}

.formContainer input {
    width: 300px;
    height: 50px;
    font-size: 15px;

    border: none;
    border-radius: 5px;

    padding: 10px;
    margin: 5px 0px 16px 0px;

    background-color: #efd4ad;
    color: #85673a;
}

input::placeholder {
    color: #78878a
}

button.submit{
    width: 35px;
    height: 35px;

    background-color: #783320;
    color: #e6edef;

    border-radius: 50px;
    border: none;

    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

#library {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 80px;

    width: 100%;
    padding: 40px 60px 90px 15px;

    
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;

    width: 250px;
    height: 300px;

    font-family: 'Lobster', cursive;
    border-top-left-radius: 16px;
}

.shadowOne {
    background-color: #b3b28b;
    box-shadow: 15px -10px 0px 0px snow,
    25px -15px 0px 0px lightgrey,
    0px -20px 0px 0px #b3b28b,
    35px -20px 0px 0px #b3b28b;
}

.shadowTwo{
    background-color: #b4a3d2;
    box-shadow: 15px -10px 0px 0px snow,
    25px -15px 0px 0px lightgrey,
    0px -20px 0px 0px #b4a3d2,
    35px -20px 0px 0px #b4a3d2;
}

.shadowThree{
    background-color: #2b2c56;
    box-shadow: 15px -10px 0px 0px snow,
    25px -15px 0px 0px lightgrey,
    0px -20px 0px 0px #2b2c56,
    35px -20px 0px 0px #2b2c56;
}

.book button {
    width: 35px;
    height: 35px;

    color: #e6edef;

    border-radius: 50px;
    border: none;
    cursor: pointer;

    font-size: 20px;
    font-weight: bold;
}

.shadowOne button {
    background-color: #839b69;
}

.shadowTwo button {
    background-color: #847899;
}

.shadowThree button {
    background-color: #151538;
}

.book img {
    height: 100px;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book p {
    font-size: 25px;
}

.book p.title {
    font-size: 30px;
    text-align: center;
}

p.progress {
    display: inline;
    margin: 10px;
}

#error{
    display: block;

    border-radius: 10px;

    background-color: #fe4c61;
    color: #ffc0c5;

    height: auto;
    width: 45vw;
    padding: 8px;
    margin: 16px;
}

#error.hidden {
    display: none;
}

.deleteBook {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;
    margin: 5px 25px 0px 0px;

    align-self: flex-end;

    background-color: #c42020;
    border-radius: 12px;
    cursor: pointer;

    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

.deleteBook:hover {
    background-color: maroon;
}

@media screen and (max-width: 700px) {
    #header {
        font-size: 20px;
        margin-bottom: 0
    }

    #header p {
        font-size: 15px;
        width: 60vw
    }

    .bubble {
        width: 50px;
        height: 50px;
        font-size: 30px;
        margin-top: 0;
    }

    #formWindow {
        width: 280px;
        height: 450px;
    }

    .formContainer {
        gap: 0px;
    }

    .formContainer form {
        font-size: 15px;
        width: 250px;
    }

    .formContainer input {
        width: 200px;
        font-size: 12px;
    }

}

@media screen and (max-width: 210px) {
    #settings {
        margin-top: 30px;
    }

    #header p {
        width: 100vw;
        font-size: 12
    }
}